$icon-font-path: '../fonts/';
$octicons-font-path: "../fonts/";

// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/foundation/scss/foundation.scss";
// endbower

@import 'appstyles';
