// -----------------------------------------------------------------------------
// This file contains all styles related to the CONTROLS component.
// -----------------------------------------------------------------------------

#ctl {
    @include purple-gradient(true);
    background-position: center;
	padding-top: 15px;
    min-height: 174px;

    h5 {
        color: $grey-50;
        margin-bottom: 15px;
    }

    select {
        margin-bottom:14px;
        padding-left: 14px;
    }

    @media only screen and (min-width: 40.063em) {
        min-height: 128px;
    }
}
