// -----------------------------------------------------------------------------
// This file contains all styles related to the PROMO component.
// -----------------------------------------------------------------------------

#promote {
    background: white;
    border-bottom: $divider-light;
    padding: 10px 0;
    text-align: center;

    @media only screen and (min-width: 40.063em) {
        p {
            text-align: left;
            padding: 24px 0;
            margin: 0;
        }

        a {
            font-family: 'Quicksand', sans-serif;
            margin: 10px auto 0;
        }

        .icon {
          margin-bottom: -3px;
        }
    }
}
