.Page {
  text-align: left;

  padding: 32px 14px;
}

h1 {
  margin-top: 0;
}

.source {
  margin-top: 0;
  font-size: .875em;
  padding: 0 0 12px;
  word-wrap: break-word;
}

.subhead {
  line-height: 1.4;
  color: #6f6f6f;
  margin-top: .2rem;
  margin-bottom: .5rem;
}

.disclaimer {
  font-family: Quicksand, Verdana, sans-serif;
  line-height: 1.6em;
  font-size: .75em;
}

@media only screen and (min-width: 40.063em) {
  .Page {
    padding: 64px 0;
  }
}
