.Promo {
  background: white;
}

.Promo .message {
  text-align: left;
  padding: 32px 0;
}

.Promo .btn-wrapper {
  padding: 24px 0;
}

.Promo button {
  font-family: 'Quicksand', Verdana, sans-serif;
}