// -----------------------------------------------------------------------------
// This file contains all styles related to the CHART component.
// -----------------------------------------------------------------------------

.states {
    background: #fefefe;
    border-radius: 8px;
}

#stateA {
    margin-bottom: 14px;
}
