// -----------------------------------------------------------------------------
// This file contains all NAVIGATION styles for the site/application.
// -----------------------------------------------------------------------------

#top-nav {
	background-color: #005353;

	.name {
		text-transform: uppercase;
	}
	.top-bar,
	.top-bar-section ul li,
	.top-bar-section li:not(.has-form) a:not(.button) {
		background: none;
	}
}
