// -----------------------------------------------------------------------------
// This file contains all application-wide color variables.
// -----------------------------------------------------------------------------

$inverse-text: #efefef;
$inverse-highlight: #cecece;

$accent-grey: #eceff1;
$base-grey: #fefefe;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-900: #212121;
$blue-grey-50: #eceff1;

$cyan-a200: #18ffff;
$cyan-a400: #00E5FF;
$cyan-a700: #00B8D4;

$light-blue-a200: #81D4FA;
$light-blue-a400: #29B6F6;
$light-blue-a800: #0277BD;

$light-green-a200: #b2ff59;
$light-green-a400: #76FF03;
$light-green-a700: #64DD17;

$green-500: #4CAF50;
$green-600: #43A047;
$green-a700: #00C853;
$green-a400: #00E676;

$teal-900: #004D40;
