// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin purple-gradient($inverse: false) {
    @if $inverse {
		background: rgba(69,39,160,1);
		background: -moz-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(69,39,160,1)), color-stop(100%, rgba(113,30,155,1)));
		background: -webkit-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
		background: -o-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
		background: linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4527a0', endColorstr='#711e9b', GradientType=1 );
    }
    @else {
		transition: background 1s ease;
		background: rgba(10,35,100,1);
		background: -moz-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,35,100,1)), color-stop(100%, rgba(113,30,155,1)));
		background: -webkit-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
		background: linear-gradient(135deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2364', endColorstr='#711e9b', GradientType=1 );
    }
}

@mixin green-gradient($inverse: false) {
  @if $inverse {
    background: #086767;
    background: -moz-linear-gradient(top, #086767 0%, #2b9090 100%);
    background: -webkit-linear-gradient(top, #086767 0%,#2b9090 100%);
    background: linear-gradient(to bottom, #086767 0%,#2b9090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#086767', endColorstr='#2b9090',GradientType=0 );
  }
  @else {
    background: #2b9090;
    background: -moz-linear-gradient(top, #2b9090 0%, #086767 100%);
    background: -webkit-linear-gradient(top, #2b9090 0%,#086767 100%);
    background: linear-gradient(to bottom, #2b9090 0%,#086767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b9090', endColorstr='#086767',GradientType=0 );
  }
}
